####### model-echelon requirements.txt #######
#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
pandas==1.5.3
openpyxl==3.1.2
numpy==1.22.0
#
